{{- $macHostType := get . "mac_host_type" | default "personal" -}}
{{- $linuxHostType := get . "linux_host_type" | default "server" -}}
[ -f "$HOME/.local/bin/env" ] && . "$HOME/.local/bin/env"

[ -f "$HOME/.lcldevrc" ] && . "$HOME/.lcldevrc"

{{ if eq .chezmoi.os "darwin" -}}
export CLICOLOR=1
alias ls='ls -G'
{{- end }}

[ -f "$HOME/.atuin/bin/env" ] && . "$HOME/.atuin/bin/env"

alias gs="git status"
alias dps="docker ps"
alias la="ls -A"
alias ll='ls -lah'
alias l='ls -CF'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ~='cd ~'
alias mkdir='mkdir -pv'
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'

{{ if eq .chezmoi.os "darwin" -}}
alias df='df -h'
alias topdisk='du -hd 1 | sort -hr | head -20'
{{ else if eq .chezmoi.os "linux" -}}
alias df='df -hT'
alias free='free -h'
alias topdisk='du -h --max-depth=1 | sort -rh | head -20'
{{- end }}

if ! command -v starship &>/dev/null; then
preexec() {
  print -Pn "\e]0;%~ · $1\a"
}
precmd() {
  print -Pn "\e]0;%~\a"
  print -Pn "\e[5 q"
}

setopt PROMPT_SUBST
_prompt_pwd() {
  local path="$PWD"

  if [[ "$path" == "$HOME" || "$path" == "$HOME/"* ]]; then
    local rel="${path#$HOME}"
    if [[ -z "$rel" ]]; then
      print -n "~"
      return
    fi
    local -a parts=("${(@s:/:)rel}")
    local depth=$(( ${#parts} - 1 ))
    if (( depth <= 6 )); then
      print -n "~${rel}"
    else
      print -n "~/.../${(j:/:)parts[-3,-1]}"
    fi
  else
    local -a parts=("${(@s:/:)path}")
    local depth=$(( ${#parts} - 1 ))
    if (( depth <= 6 )); then
      print -n "$path"
    else
      print -n "/${parts[2]}/.../${(j:/:)parts[-3,-1]}"
    fi
  fi
}
PROMPT='%F{#00484F}$(_prompt_pwd)%f %# '
fi

_space_forward_word() {
    local WORDCHARS=$'`~!@#$%^&*()_=+[{]}\\|:\'"<>/?'
    zle forward-word
}
zle -N _space_forward_word

_space_backward_word() {
    local WORDCHARS=$'`~!@#$%^&*()_=+[{]}\\|:\'"<>/?'
    zle backward-word
}
zle -N _space_backward_word

_space_backward_kill_word() {
    local WORDCHARS=$'`~!@#$%^&*()_=+[{]}\\|:\'"<>/?'
    zle backward-kill-word
}
zle -N _space_backward_kill_word

_space_kill_word() {
    local WORDCHARS=$'`~!@#$%^&*()_=+[{]}\\|:\'"<>/?'
    zle kill-word
}
zle -N _space_kill_word

bindkey '\ea'      beginning-of-line
bindkey '\ee'      end-of-line
bindkey '\ef'      _space_forward_word
bindkey '\eb'      _space_backward_word
bindkey '\e\177'   _space_backward_kill_word
bindkey '\e[3;3~'  _space_kill_word

{{ if and (eq .chezmoi.os "darwin") (ne $macHostType "minimal") -}}
FPATH="/opt/homebrew/share/zsh/site-functions:$FPATH"
autoload -Uz compinit && compinit
{{- end }}

if command -v mise &>/dev/null; then
  eval "$(mise activate zsh)"
elif command -v fnm &>/dev/null; then
  eval "$(fnm env --use-on-cd)"
fi

[ -f "$HOME/.fzf.zsh" ] && . "$HOME/.fzf.zsh"

{{ if or (and (eq .chezmoi.os "darwin") (eq $macHostType "personal")) (and (eq .chezmoi.os "linux") (eq $linuxHostType "workstation")) -}}
if [ -d "$HOME/.bun" ]; then
  export BUN_INSTALL="$HOME/.bun"
  case ":$PATH:" in
    *:"$BUN_INSTALL/bin":*) ;;
    *) export PATH="$BUN_INSTALL/bin:$PATH" ;;
  esac
fi

[ -s "$HOME/.bun/_bun" ] && . "$HOME/.bun/_bun"
{{- end }}

{{ if and (eq .chezmoi.os "darwin") (eq $macHostType "personal") -}}
if [ -d "$HOME/.lmstudio/bin" ]; then
  case ":$PATH:" in
    *:"$HOME/.lmstudio/bin":*) ;;
    *) export PATH="$PATH:$HOME/.lmstudio/bin" ;;
  esac
fi
{{- end }}

[[ -f ~/.zshrc.bbg ]] && source ~/.zshrc.bbg

if command -v atuin &>/dev/null; then
  eval "$(atuin init zsh)"
fi

if command -v starship &>/dev/null; then
  eval "$(starship init zsh)"
fi
